@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#f5e9ef] text-indigo-deep;
  background-image: url("/images/sakura-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
